@font-face {
    font-family: "Staatliches";
    src: url("fonts/Staatliches-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* Variables */
:root {
    --primary-color: #9c27b0;
    --dark-primary-color: #89119d;
    --secondary-color: #ffce00;
    --dark-secondary-color: rgb(233,287,2);
    --white: #fff;
    --black: #000;

    --primary-font: "Staatliches", cursive;
}