@font-face {
    font-family: "Staatliches";
    src: url("fonts/Staatliches-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* Variables */
:root {
    --primary-color: #9c27b0;
    --dark-primary-color: #89119d;
    --secondary-color: #ffce00;
    --dark-secondary-color: rgb(233,287,2);
    --white: #fff;
    --black: #000;

    --primary-font: "Staatliches", cursive;
}

/* Globals */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 1.5;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--primary-font);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white)
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}