@font-face {
    font-family: "Staatliches";
    src: url("../fonts/Staatliches-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* Variables */
:root {
    --primary-color: #9c27b0;
    --dark-primary-color: #89119d;
    --secondary-color: #ffce00;
    --dark-secondary-color: rgb(233,287,2);
    --white: #fff;
    --black: #000;

    --primary-font: "Staatliches", cursive;
}

/* Globals */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 1.5;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--primary-font);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white)
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Navigation */
.navigation {
    background-color: var(--dark-primary-color);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navigation__link {
    font-family: var(--primary-font);
    text-transform: uppercase;
    color: var(--white);
    font-size: 3rem;
}
.navigation__link:hover, .navigation__link--activo {
    color: var(--secondary-color);
}

/* Footer */
.footer {
    background-color: var(--dark-primary-color);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    font-family: var(--primary-font);
    text-align: center;
    font-size: 2.2rem;
}

/* Products */
.product {
    background-color: var(--dark-primary-color);
    padding: 1rem;
}
.product__image {
    width: 100%;
}
.product__name {
    font-size: 4rem;
}
.product__price {
    font-size: 2.8rem;
    color: var(--secondary-color);
}
.product__name, .product__price{
    font-family: var(--primary-font);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* Images */
.image {
    min-height: 30rem;
    background-size: cover;
    grid-column: 1/3;
}
.image--shirts {
    grid-row: 2/3;
    background-image: url("../img/grafico1.jpg");
}
.image--node {
    grid-row: 8/9;
    background-image: url("../img/grafico2.jpg");
}

@media (min-width: 768px) {
    .image--node {
        grid-row: 5/6;
        grid-column: 2/4;
    }
}